/* line 1, ../sass/homeruns.sass */
body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* line 5, ../sass/homeruns.sass */
footer {
  margin: 50px 0;
}

/* line 8, ../sass/homeruns.sass */
hr {
  border-top: 1px solid #DDD;
}

/* line 11, ../sass/homeruns.sass */
.huge {
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
}

/* line 16, ../sass/homeruns.sass */
.navbar-inverse {
  background-color: #002E6D;
  border-color: #002659;
  box-shadow: 1px 5px 5px #888888;
}

/* line 21, ../sass/homeruns.sass */
.panel-footer {
  color: #fff;
  background-color: #D14040;
}

/* line 25, ../sass/homeruns.sass */
.panel-heading {
  color: #fff !important;
  background-color: gray !important;
}

/* line 29, ../sass/homeruns.sass */
.player-image {
  position: relative;
  top: 6px;
}

/* line 33, ../sass/homeruns.sass */
.portfolio-item {
  margin-bottom: 25px;
}

/* line 37, ../sass/homeruns.sass */
table.player-stats thead tr {
  background-color: #F7F5E9 !important;
  border-right: solid #F7F5E9 1px !important;
  font-size: 16px;
}
/* line 41, ../sass/homeruns.sass */
table.player-stats tbody td {
  height: 19px !important;
  border-right: solid #fff 1px !important;
  vertical-align: middle !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  font-size: 18px;
}

/* SVG Elements ============================================================== */
/* line 52, ../sass/homeruns.sass */
.chart rect {
  fill: steelblue;
}
/* line 54, ../sass/homeruns.sass */
.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

/* line 59, ../sass/homeruns.sass */
path {
  fill: none;
  stroke-width: 3px;
}

/* line 63, ../sass/homeruns.sass */
circle {
  stroke-width: 3px;
}
